body {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
  flex-flow: column nowrap;
}

footer {
  padding: 1em;
  text-align: center;
}

.main-nav {
  font-size: 1.75em;
  background-color: #874c65;
}

.main-nav ul,
.footer-nav ul {
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  list-style: none;
  text-align: center;
}

.main-nav a {
  color: #ffffff;
  text-decoration: none;
}

.poem {
  padding: 2em;
  display: flex;
  flex-flow: column nowrap;
}

.poem h1 {
  text-align: center;
}

.footer-nav {
  font-size: 1em;
}

@media screen and (min-width: 600px) {
  .main-nav ul {
    flex-flow: row;
    margin-left: 1em;
  }

  .poem {
    align-items: center;
  }

  .poem p {
    width: 330px;
  }
}
